body {
  background-color: rgba(0, 0, 0, 0.8);
  color: #999;
  font-family: Hevletica, 'sans-serif';
}

#rootContainer {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
}

#verticalLine {
  background-color: #FFFFFF;
  width: 2px;
}

.componentContainer {
  display: grid;
  grid-template-rows: auto 1fr;
}

.headerText {
  text-align: center;
  font-family: sans-serif;
}

.gaugesContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.namedGauge {
  display: grid;
  grid-template-rows: 1fr auto;
}

.titleText {
  text-align: center;
  font-family: sans-serif;
}

.gauge-container {
  width: 200px;
  height: 200px;
  display: block;
  float: left;
  padding: 10px;
  overflow: hidden;
}

.gauge-container>.gauge>.dial {
  stroke: #334455;
  stroke-width: 10;
}

.gauge-container>.gauge>.value {
  stroke: #C9DE3C;
  stroke-width: 10;
}

.gauge-container>.gauge>.value-text {
  fill: #C9DE3C;
}